<!DOCTYPE html>
<html>
  <head>
    <title>Pryv - Twitter Gateway</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pryv - Twitter Gateway</h1>
    <p>usage: </p>
    <p><a href='http://localhost:3000/user-timeline/xa4loz'>http://localhost:3000/user-timeline/xa4loz</a></p>
    <p><a href='http://localhost:3000/user-timeline/jcdusse4'>http://localhost:3000/user-timeline/jcdusse4</a></p>
  </body>
</html>