<!DOCTYPE html>
<html>
  <head>
    <title>Pryv: Twitter settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="js/pryv.js"></script>
  </head>
  <body>
    <script>
    /**
     * process the form and request access
     */
      var requestedPermissions = [
                                  {
                                    "streamId" : "social-twitter",
                                    "defaultName" : "Twitter",
                                    "level" : "manage"
                                  }
                                ];

      // ----------------------- //
      var settings = {
        requestingAppId : 'bridge-twitter',
        requestedPermissions : requestedPermissions,
        returnURL : 'auto#', // set this if you don't want a popup
        spanButtonID : 'pryvButton', // (optional)
        callbacks : {
          initialization : function() { },
          needSignin : function(popupUrl, pollUrl, pollRateMs) { },
          needValidation : function(popupUrl, pollUrl, pollRateMs) {},
          accepted : function(username, appToken, languageCode) {
            console.log("** SUCCESS! username:" + username +
                        " appToken:" + appToken +
                        " lang:" + languageCode);
            window.location = "/prefs?appToken="+appToken+"&username="+username;
          },
          refused: function(reason) {
            console.log("** REFUSED! " + reason);
          },
          error: function(code, message) {
            console.log("** ERROR! " + code + " " + message);
          },
          signedOut: function (code, message) {
            console.log('** Signed Out ! ' + code + ' ' + message);
            window.location = '/signOut';
          }
        }
      };



    <%
    // HACK, TODO: cleanup when lib updated with more sensible config
    if (domain.indexOf('pryv.in') !== -1) {
    %>
      pryv.Auth.config.registerURL = pryv.Auth.config.registerStagingURL;
    <% } %>
    pryv.Auth.setup(settings);
    </script>

    <div id="wrapper" class="container">
      <div id="main">
        <span id="pryvButton"></span>
        <h1>
          <img class="img-responsive" src="https://d3gblc8a9weyfb.cloudfront.net/apps/bridge-twitter/icon512.png" alt="Twitter logo">
          Twitter settings
        </h1>
        <p>Please sign into Pryv to connect or configure your Twitter account.</p>
      </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
